# Specify Python package requirements for your project here (e.g., Mako==1.1.1). If your project doesn't require these, you can leave this file unchanged or delete it.
tensorflow==2.19.0
torch==2.7.0+cpu
keras==3.10.0
transformers==4.53.0
datasets==3.6.0
sentencepiece==0.2.0
evaluate==0.4.4
nltk==3.9.1
rouge_score==0.1.2
tf-keras==2.19.0
